In [1]:
from Functions import get_volume_info, get_benchmark_info

#volume_info = get_volume_info()

In [2]:
benchmark_info, df = get_benchmark_info()

StatusCode for getting get-benchmarkinfo: 200

In [3]:
df

,volume_30_avg,volume_30_std,score_last_30_days,n_obs,volume_60_avg,volume_60_std,volume_90_avg,volume_90_std,vol_mean_7days,vol_std_7days,momentum_7days_vol
ADAUSDT,68991.04,70070.38,1.0,17.0,68991.04,70070.38,68991.04,70070.38,NaN,NaN,NaN
JASMYUSDT,30260.33,49523.35,0.0,12.0,30260.33,49523.35,30260.33,49523.35,NaN,NaN,NaN
IOTXUSDT,3648.61,11556.88,0.0,1.0,3648.61,11556.88,3648.61,11556.88,NaN,NaN,NaN
ICP_USDT,55.77,184.68,0.0,1.0,55.77,184.68,55.77,184.68,NaN,NaN,NaN
HNT_USD,382.95,725.79,0.0,1.0,382.95,725.79,382.95,725.79,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
SKL_USDT,18.93,78.45,0.0,1.0,18.93,78.45,18.93,78.45,NaN,NaN,NaN
OCEAN_USDT,37.70,89.58,0.0,1.0,37.70,89.58,37.70,89.58,NaN,NaN,NaN
ONE_USDT,77.94,290.87,0.0,1.0,77.94,290.87,77.94,290.87,NaN,NaN,NaN
XTZ_USDT,24.69,135.83,0.0,1.0,24.69,135.83,24.69,135.83,NaN,NaN,NaN
CRO_USDT,3541.34,3011.35,0.0,1.0,3541.34,3011.35,3541.34,3011.35,NaN,NaN,NaN